# {{project_name}}

[![Build Status](https://travis-ci.org/{{github_repo}}.svg?branch=master)](https://travis-ci.org/{{github_repo}})
[![Coverage Status](https://coveralls.io/repos/github/{{gem_name}}/badge.svg?branch=master)](https://coveralls.io/github/{{gem_name}}?branch=master)
[![Maintainability](https://api.codeclimate.com/v1/badges/f9ac56f41cd6333d98ee/maintainability)](https://codeclimate.com/github/{{github_repo}}/maintainability)

{{project_description}}

## Links of Interest

* [Documentation]({{documentation_url}})
* [Changelog]({{changelog_url}})

## Installation

Add {{gem_name}} to your project's Gemfile and then bundle install.

```ruby
gem '{{gem_name}}', '0.1.0-alpha'
```

## Basic Usage

...

## License

{{>LICENSE.txt}}
